<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Token" value="some-test-token" />
        <add key="Culture" value="de-DE" />
        <add key="MongoDbName" value="goe_test" />
        <add key="MongoDbHost" value="localhost" />
    </appSettings>
</configuration>
