<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Culture" value="de-DE" />
        <add key="MongoDbName" value="goe_test" />
        <add key="MongoDbHost" value="localhost" />
        <add key="MysqlDbName" value="goe_test" />
        <add key="MysqlDbHost" value="127.0.0.1" />
        <add key="MysqlDbUser" value="root" />
        <add key="MysqlDbPassword" value="password" />
    </appSettings>
</configuration>
